body {
    font-family: 'Arial', sans-serif;
    background-color: #838e851e;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6; 
}

section {
    background-color: white;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

p {
    margin-bottom: 15px; 
}

li {
    margin-bottom: 8px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 20px;
}
.social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center; 
    gap: 20px; 
}
.social-links a:hover {
    cursor: pointer;
    color: #00aced; 
}
.social-links a {
    display: flex;
    align-items: center;
    color: #ddd; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.btn {
    font-size: 14px;
    padding: 8px 14px;
}

.job-title {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: #0f4ad2ad;
    font-family: 'Courier New', monospace;
}

.experience {
    padding-left: 40px;
    padding-right: 40px;
}

.job-company {
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
}

.job-dates {
    font-size: 14px;
    color: #666;
}


header h1 {
    margin: 10px 0 5px 0;
    font-size: 32px;
}

header p, header a {
    margin: 3px 0;
    font-size: 16px;
    color: #ddd;
}

header a {
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px; 
}

.project-img {
  width: 100%;
  height: 200px; 
  object-fit: contain; 
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}



h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    margin: 10px 0 0 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}





